body{
     text-align: center;
    background:#614525 ;
}
.capa{
    width: 100%;
}
.beneficios{
    background:rgb(245, 193, 48);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 150%;
margin-right: 150px;
}
li{
    padding: 30px;
}
.foto.beneficios{
    width:  30%;
    
}

