body{
     text-align: center;
    background:#cac1e5 ;
}
.capa{
    width: 100%;
}
.beneficios{
    text-align: left;
    background-color: aquamarine;
}
ul{
    display: inline block;
    vertical-align: top;
    font:25px ;
    margin: right 400px; ;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 40%
}